.vertical li {
  list-style: none;
  text-align: left;
  color: white;
  cursor: pointer;
}
.vertical {
  background: #504e4e;
  height: 100vh;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.plyr__video-wrapper{
  padding: 0px !important;
}
.plyr--video .plyr__controls {
  padding: 0px !important;
}